{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">
    <h2>Your Curated News</h2>
    <p>Only the news from the countries and sources selected on the settings page will be shown here.</p>
  </div>
</div>

    {% include "news/news-list-snippet.html" with contents=news form=form curated=curated page_name='curated' %}

{% endblock %}
