{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">STRATIV News</h1>
    <p class="lead text-muted">
      STRATIV news is showing the lists of almost every major news agencies bulletins.
      Signed In users have the previliges to get curated news.
    </p>
    <p>
      <a href="{% url 'curated-news-view' %}" class="btn btn-primary my-2">Get Curated News</a>
    </p>
  </div>
</section>

    {% include "news/news-list-snippet.html" with contents=news form=form page_name='home' %}

{% endblock %}
