{% load static %}

{% load newsfeed_tags %}

{% block news_block %}

<div class="album py-5 bg-light">
  <div class="container">

    {% if curated == 'Not Found' %}

        <div class="row">

          <div class="col-md-12">

            <p>You havn't set your settings. To get curated news you have to set your settings.</p>

          </div>

        </div>

    {% else %}

        <div class="row">

          <div class="col-md-12">

            <p>Total {{ contents.totalResults }} results found</p>

            {% if curated != 'Found' %}

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Sort News</button>

            {% endif %}



          </div>

        </div>

        {% if curated != 'Found' %}

        <div class="row">

          <div class="col-md-12">

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    Sort Newses by Countries and Sources
                  </div>
                  <div class="modal-body">

                    <form method="get" id="news-sorting-form" novalidate>

                      <div class="form-group news-sorting-form-fields">

                        <label for="inputCountryList">{{ form.country_list.label }}</label><br/>

                        <div class="form-row">

                          {% for box in form.country_list %}

                            <div class="col-md-2">
                              <div class="form-check">
                                {{ box.tag }} {{ box.choice_label }}
                              </div>
                            </div>

                          {% endfor %}

                        </div>

                      </div>

                      <hr/>

                      <div class="form-group news-sorting-form-fields">

                        <label for="inputSourceList">{{ form.sources_list.label }}</label><br/>

                        <div class="form-row">

                          {% for box in form.sources_list %}

                            <div class="col-md-2">
                              <div class="form-check">
                                {{ box.tag }} {{ box.choice_label }}
                              </div>
                            </div>

                          {% endfor %}

                        </div>

                      </div>

                      <hr/>

                      <div class="form-group news-sorting-form-fields">

                        <input type="submit" name="submit" value="Sort News" class="btn btn-primary">

                      </div>


                    </form>

                  </div>


                </div>
              </div>
            </div>

          </div>

        </div>

        {% endif %}



        <div class="row">

          {% if contents|check_attr:'status' %}

              {% for article in contents.articles %}

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="{{ article.urlToImage }}" height="182px" alt="No Image">
                  <div class="card-body">
                    <a href="{{ article.url }}" target="_blank" class="card-text">{{ article.title }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">{{ article.source.name }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}

          {% else %}

              <div class="alert alert-danger" role="alert">
                  {{ contents }}
              </div>

          {% endif %}

        </div>

        <div class="row">

          <nav aria-label="...">
            <ul class="pagination">

              {% if contents|check_attr:'totalResults' %}

              {% if page_name == 'curated' %}

                {% paginate_view total_page|calculate_pagination:contents.totalResults request|current_page_number 'curated-news-view' request|current_source_parameters request|current_countries_parameters %}

              {% else %}

                {% paginate_view total_page|calculate_pagination:contents.totalResults request|current_page_number 'home-page-view' request|current_source_parameters request|current_countries_parameters %}

              {% endif %}

              {% endif %}




            </ul>
          </nav>

        </div>

    {% endif %}







  </div>
</div>


{% endblock %}
