{% for choice in choices %}
    {% if choice == curr_page %}
      <li class="page-item active"><a class="page-link" href="{% url page_url %}?sources_list={{ source_params }}&country_list={{ countries_params }}&page={{ choice }}">{{ choice }}<span class="sr-only">(current)</span></a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{% url page_url %}?sources_list={{ source_params }}&country_list={{ countries_params }}&page={{ choice }}">{{ choice }}</a></li>
    {% endif %}

{% endfor %}
