{% extends "base-view.html" %}

{% load static %}

{% load newsfeed_tags %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">

    <h2>Your Settings</h2>
    <p>Only news from your selected countries and sources will be shown on your Curated News Page.</p>


    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <form method="post" id="user-settings-view">

      {% csrf_token %}

      <div class="form-group news-sorting-form-fields">

        <label for="inputCountryList">{{ form.country_list.label }}</label><br/>

        <div class="form-row">

          {% for box in form.country_list %}

            <div class="col-md-2">
              <div class="form-check">
                {{ box.tag }} {{ box.choice_label }}
              </div>
            </div>

          {% endfor %}

        </div>

      </div>

      <hr/>

      <div class="form-group news-sorting-form-fields">

        <label for="inputSourceList">{{ form.sources_list.label }}</label><br/>

        <div class="form-row">

          {% for box in form.sources_list %}

            <div class="col-md-2">
              <div class="form-check">
                {{ box.tag }} {{ box.choice_label }}
              </div>
            </div>

          {% endfor %}

        </div>

      </div>

      <hr/>

      <div class="form-group news-sorting-form-fields">

        <label for="inputKeywords">{{ form.keywords.label }}</label><br/>

        <p>You will be notified if any keywords appeared on the headline. Comma separated values</p>

        {{ form.keywords }}

      </div>

      <div class="form-group news-sorting-form-fields">

        <input type="submit" name="submit" value="Save" class="btn btn-primary">

      </div>


    </form>

    {% if form.erros %}

      {{ form.errors }}

    {% endif %}

    <div id="user-saved-data" style="visibility: hidden;">

      {% if found == 'found' %}

        <div id="prev_country_list">

          {{ prev_country }}

        </div>

        <div id="prev_sources_list">

          {{ prev_sources }}

        </div>

        <div id="prev_keywords">

          {{ prev_keywords }}

        </div>

      {% endif %}

    </div>

  </div>
</div>

<script>
    $( document ).ready(function() {

      var count = 0;
      var countryID = "#CountryList_";
      var sourceID = "#SourceList_"

      while( count != 54 ){

        var country_texts = $('#prev_country_list').text()

        if(country_texts.search($(countryID + count).val()) != -1){

          $(countryID + count).prop('checked', true);

        }

        count++;

      }

      count = 0;

      while( count != 128 ){

        var sources_texts = $('#prev_sources_list').text();

        if(sources_texts.search($(sourceID + count).val()) != -1){

          $(sourceID + count).prop('checked', true);

        }

        count++;

      }

      var keyword_box_text = $('#prev_keywords').text();

      $('#KeywordBox').val(keyword_box_text);



    });


</script>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
