{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">

    <form class="form-signin" method="post" action="{% url 'user-profile-update' %}">

      {% csrf_token %}

      <h1 class="h3 mb-3 font-weight-normal">Profile Update</h1>


      <label for="inputFirstName">{{ form.first_name.label }}</label>

      {{ form.first_name }}

      <label for="inputLastName">{{ form.last_name.label }}</label>

      {{ form.last_name }}

      <label for="inputEmail">{{ form.email.label }}</label>

      {{ form.email }}

      <hr/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      <input type="hidden" name="next" value="{{ next }}">


      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <p>{{ form.errors }}</p>
        </div>
      {% endif %}

    </form>

  </div>
</div>

<script>

  $( "#id_first_name" ).addClass( "form-control" );
  $( "#id_last_name" ).addClass( "form-control" );
  $( "#id_email" ).addClass( "form-control" );

</script>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
