{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<section class="text-center middle-contents">
  <div class="container">

    {% if request.GET.update == 'success' %}
      <div class="alert alert-success" role="alert">
        <p>Profile is updated successfully</p>
      </div>
    {% endif %}
    <h1>Your Profile</h1>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>First Name</td>
          <td>{{ data.first_name }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Last Name</td>
          <td>{{ data.last_name }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Username</td>
          <td>{{ data.username }}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Email</td>
          <td>{{ data.email }}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Token Key</td>
          <td>{{ data.auth_token.key }}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Password</td>
          <td><a href="{% url 'user-password-update' %}">Update Password</a></td>
        </tr>
      </tbody>
    </table>

    <a href="{% url 'user-profile-update' %}" class="btn btn-primary my-2">Edit Profile</a>

  </div>
</section>

{% endblock %}
