{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 middle-contents">
  <div class="container">

    <div class="card">
      <div class="card-header">
        Logged Out
      </div>
      <div class="card-body">
        <h5 class="card-title">You have logged out successfully</h5>
        <a href="{% url 'home-page-view' %}" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
