{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">

    <form class="form-signin" method="post" action="{% url 'login-view' %}">

      {% csrf_token %}

      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputUsername">{{ form.username.label }}</label>

      {{ form.username }}

      <label for="inputPassword">{{ form.password.label }}</label>

      {{ form.password }}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <input type="hidden" name="next" value="{{ next }}">
      <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>


      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <p>Your username and password didn't match. Please try again.</p>
        </div>
      {% endif %}

      {% if next %}
          <div class="alert alert-danger" role="alert">
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
          </div>

      {% endif %}

      <p>Don't have an account? Please <a href="{% url 'signup' %}">SignUp</a> for a new one.</p>
      <p>Forgot password? Please <a href="{% url 'password-reset-view' %}">Reset Password</a></p>
    </form>

  </div>
</div>

<script>

  $( "#id_username" ).addClass( "form-control" );
  $( "#id_password" ).addClass( "form-control" );

</script>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
