{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">



    <form class="form-signin" method="post" action="{% url 'password-reset-view' %}">

      {% csrf_token %}

      <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>

      <label for="inputEmail">{{ form.email.label }}</label>

      {{ form.email }}

      <p>

        {{ form.email.help_text }}

      </p>

      <hr/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Send Email</button>


      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <p>{{ form.errors }}</p>
        </div>
      {% endif %}

    </form>

  </div>
</div>

<script>

  $( "#id_email" ).addClass( "form-control" );

</script>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
