{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">



    <form class="form-signin" method="post" action="{% url 'user-password-update' %}">

      {% csrf_token %}

      <h1 class="h3 mb-3 font-weight-normal">Password Update</h1>


      <label for="inputOldPassword">{{ form.old_password.label }}</label>

      {{ form.old_password }}

      <label for="inputNewPassword1">{{ form.new_password1.label }}</label>

      {{ form.new_password1 }}

      <p>

        {{ form.new_password1.help_text }}

      </p>

      <label for="inputNewPassword2">{{ form.new_password2.label }}</label>

      {{ form.new_password2 }}

      <hr/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>


      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <p>{{ form.errors }}</p>
        </div>
      {% endif %}

    </form>

  </div>
</div>

<script>

  $( "#id_old_password" ).addClass( "form-control" );
  $( "#id_new_password1" ).addClass( "form-control" );
  $( "#id_new_password2" ).addClass( "form-control" );

</script>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
