{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 middle-contents">
  <div class="container">

    <div class="card">
      <div class="card-header">
        Password Updated
      </div>
      <div class="card-body">
        <h5 class="card-title">You have updated your password successfully</h5>
        <a href="{% url 'user-profile-view' %}" class="btn btn-primary">Go to Profile</a>
      </div>
    </div>

  </div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
