{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

<div class="album py-5 bg-light">
  <div class="container">

    <form class="form-signin" method="post" action="{% url 'signup' %}">

      {% csrf_token %}

      <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

      <label for="inputUsername">{{ form.username.label }}</label>

      {{ form.username }}

      <label for="inputFirstName">{{ form.first_name.label }}</label>

      {{ form.first_name }}

      <label for="inputLastName">{{ form.last_name.label }}</label>

      {{ form.last_name }}

      <label for="inputEmail">{{ form.email.label }}</label>

      {{ form.email }}

      <label for="inputFirstPassword">{{ form.password1.label }}</label>

      {{ form.password1 }}

      <label for="inputSecondPassword">{{ form.password2.label }}</label>

      {{ form.password2 }}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <input type="hidden" name="next" value="{{ next }}">
      <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>


      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <p>Your username and password didn't match. Please try again.</p>
        </div>
      {% endif %}

      {% if next %}
          <div class="alert alert-danger" role="alert">
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
          </div>

      {% endif %}

      <p>Already have an account? Please <a href="{% url 'login-view' %}">SignIn</a> to your account.</p>

    </form>

  </div>
</div>

<script>

  $( "#id_username" ).addClass( "form-control" );
  $( "#id_first_name" ).addClass( "form-control" );
  $( "#id_last_name" ).addClass( "form-control" );
  $( "#id_email" ).addClass( "form-control" );
  $( "#id_password1" ).addClass( "form-control" );
  $( "#id_password2" ).addClass( "form-control" );

</script>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
