:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.modal-lg{
  max-width: 1200px;
}

.news-sorting-form-class{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.news-sorting-form-fields{
  margin-left: 1rem;
  margin-right: 1rem;
}

.news-sorting-form-fields > label{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.middle-contents{
  margin-top: 4em;
  margin-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.column-checkbox {
    padding-top: 20px;
}

.column-checkbox .checkbox {
    display: block;
    float: left;
    width: 25%;
}
