{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">404 Not Found</h1>
        <p class="lead text-muted">
          Sorry the requested contents are not found. Please try another things.
        </p>
      </div>
    </section>

{% endblock %}
