{% extends "base-view.html" %}

{% load static %}

{% block body_block %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">500 Server Error</h1>
        <p class="lead text-muted">
          The server can not handle your query. Please try different things.
        </p>
      </div>
    </section>

{% endblock %}
