<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>STRATIV News</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/album.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/signin.css' %}">

    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">
                This news website is showing the lists of almost every major news agencies bulletins.
                Signed In users have the previliges to get curated news.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Navs</h4>
              <ul class="list-unstyled">
                <li><a href="{% url 'home-page-view' %}" class="text-white">Home</a></li>

                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'user-profile-view' %}" class="text-white">Profile</a></li>
                  <li><a href="{% url 'curated-news-view' %}" class="text-white">Curated News</a></li>
                  <li><a href="{% url 'user-settings-view' %}" class="text-white">Settings</a></li>
                  <li><a href="{% url 'logout-view' %}" class="text-white">Sign Out</a></li>

                {% else %}
                  <li><a href="{% url 'login-view' %}" class="text-white">Sign In</a></li>

                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>STRATIV News</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <!-- Content Wrapper -->
      {% block body_block %}

      {% endblock %}
      <!-- /.Content Wrapper -->



    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>This template is &copy; Bootstrap Album Template, but has the right to customize freely</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/holder.min.js' %}" type="text/javascript"></script>
  </body>
</html>
